Repository gleb811/momo-store-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: common, terraform, helm

common:
  stage: common
  trigger:
    include:
    - common-pipeline-tools/.gitlab-ci.yml
    strategy: depend

terraform:
  stage: terraform
  trigger:
    include:
    - terraform/.gitlab-ci.yml
    strategy: depend

helm:
  stage: configure
  trigger:
    include:
    - helm/.gitlab-ci.yml
    strategy: depend

Update file .gitlab-ci.yml
  helm/.gitlab-ci.yml
Due: helm

Update 2 files
  helm/.gitlab-ci.yml
  terraform/variables.tf
Due: terraform, helm

Update file variables.tf
  terraform/variables.tf
Due: terraform

Update file cluster.tf
  terraform/cluster.tf
Due: terraform

Update 2 files
  helm/.gitlab-ci.yml
  terraform/cluster.tf
Due: terraform, helm

Update 2 files
  helm/argocd/manifests/application.yaml
  helm/argocd/values.yaml
Due: helm

Update file applicationset.yaml
  helm/argocd/manifests/applicationset.yaml
Due: helm

Update file gitlab-token.yaml
  helm/argocd/manifests/gitlab-token.yaml
Due: helm

Update file repository.yaml
  helm/argocd/manifests/repository.yaml
Due: helm

Update 2 files
  helm/ingress-nginx/values.yaml
  helm/kube-prometheus-stack/values.yaml
Due: helm

Update applicationset.yaml
  helm/argocd/manifests/applicationset.yaml
Due: helm

Update repository.yaml
  helm/argocd/manifests/repository.yaml
Due: helm

Update README.md
  README.md
Due: none

Path conditions:
  common: any of: common-pipeline-tools/**/*
  terraform: any of: terraform/**/*
  helm: any of: helm/**/*
